{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- 引入组件库 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="{% static "css/customize.css" %}">

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>


</head>

<body>
<div id="app">
    <el-container style="height: 100%; border: 1px solid #eee">
        <el-aside   width="200px" style="background-color: #FFF">
            <el-menu :default-openeds="['1']" unique-opened=true>
                <h3>Ops</h3>
                <el-submenu index="1">
                    <template slot="title"><i class="el-icon-message"></i>CMDB</template>
                    <el-menu-item index="1-1">基础资产</el-menu-item>
                    <el-menu-item index="1-2">资产管理</el-menu-item>
                    <el-menu-item index="1-3">资产列表</el-menu-item>
                </el-submenu>
                <el-submenu index="2">
                    <template slot="title"><i class="el-icon-menu"></i>部署工具</template>
                    <el-menu-item index="2-1">资产配置</el-menu-item>
                    <el-menu-item index="2-2">模块工具</el-menu-item>
                    <el-menu-item index="2-3">脚本工具</el-menu-item>
                    <el-menu-item index="2-4">剧本工具</el-menu-item>
                    <el-menu-item index="2-5">部署日志</el-menu-item>
                </el-submenu>
                <el-submenu index="3">
                    <template slot="title"><i class="el-icon-setting"></i>应用管理</template>
                    <el-menu-item index="3-1">负载均衡</el-menu-item>
                </el-submenu>
                <el-submenu index="4">
                    <template slot="title"><i class="el-icon-setting"></i>DB管理</template>
                    <el-submenu index="4-1">
                        <template slot="title">MySQL</template>
                        <el-menu-item index="4-1-1">实例列表</el-menu-item>
                        <el-menu-item index="4-1-2">管理工具</el-menu-item>
                        <el-menu-item index="4-1-3">数据查询</el-menu-item>
                        <el-menu-item index="4-1-4">操作日志</el-menu-item>
                    </el-submenu>
                    <el-submenu index="4-2">
                        <template slot="title">Redis</template>
                        <el-menu-item index="4-2-1">实例列表</el-menu-item>
                        <el-menu-item index="4-2-2">管理工具</el-menu-item>
                    </el-submenu>
                </el-submenu>
                <el-submenu index="5">
                    <template slot="title"><i class="el-icon-menu"></i>计划任务</template>
                    <el-submenu index="5-1">
                        <template slot="title">任务配置</template>
                        <el-menu-item index="5-1-1">ApSched</el-menu-item>
                        <el-menu-item index="5-1-2">Crontab</el-menu-item>
                        <el-menu-item index="5-1-3">Celery</el-menu-item>
                    </el-submenu>
                </el-submenu>
                <el-submenu index="6">
                    <template slot="title"><i class="el-icon-menu"></i>代码发布</template>
                    <el-menu-item index="6-1">项目配置</el-menu-item>
                    <el-menu-item index="6-2">项目列表</el-menu-item>
                </el-submenu>
                <el-submenu index="7">
                    <template slot="title"><i class="el-icon-menu"></i>运维知识</template>
                    <el-menu-item index="6-1">新建文档</el-menu-item>
                    <el-menu-item index="6-2">文档列表</el-menu-item>
                </el-submenu>
            </el-menu>
             <el-menu>
                <h3>LIVE ON</h3>
                 <el-submenu index="8">
                    <template slot="title"><i class="el-icon-message"></i>站内导航</template>
                    <el-menu-item index="1-1">导航列表</el-menu-item>

                </el-submenu>
                <el-submenu index="9">
                    <template slot="title"><i class="el-icon-menu"></i>工单系统</template>
                    <el-menu-item index="9-1">工单列表</el-menu-item>
                    <el-menu-item index="9-2">工单申请</el-menu-item>
                </el-submenu>
                <el-submenu index="10">
                    <template slot="title"><i class="el-icon-menu"></i>用户管理</template>
                    <el-menu-item index="10-1">用户中心</el-menu-item>
                    <el-menu-item index="10-2">用户管理</el-menu-item>
                </el-submenu>
             </el-menu>

        </el-aside>


    <el-container>
        <el-header style="text-align: right; font-size: 12px">
            <el-dropdown>
                <i class="el-icon-setting" style="margin-right: 15px"></i>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item>查看</el-dropdown-item>
                    <el-dropdown-item>新增</el-dropdown-item>
                    <el-dropdown-item>删除</el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
                <span>{{ user }}</span>
        </el-header>

    <el-main>
        {% block page-content %}
            <el-row :gutter="20">
                <el-col :span="6"><div class="grid-content bg-purple">
                    <div class="icon">
                        <i class="el-icon-s-marketing" style="height: 50px;width: 50px"></i>
                    </div>
                    <h2>0</h2>
                    <h3>资产数</h3>
                    <p>平台记录的资产数包括服务器网络设备</p>
                </div></el-col>
                <el-col :span="6"><div class="grid-content bg-purple">
                    <div class="icon">
                        <i class="el-icon-s-comment" style="height: 50px;width: 50px"></i>
                    </div>
                    <h2>0</h2>
                    <h3>工单数</h3>
                    <p>包含SQL审核文件分发下载</p>
                </div></el-col>
                <el-col :span="6"><div class="grid-content bg-purple">
                    <div class="icon">
                        <i class="el-icon-coin" style="height: 50px;width: 50px"></i>
                    </div>
                    <h2>0</h2>
                    <h3>数据库</h3>
                    <p>所有被管理的数据库</p>
                </div></el-col>
                <el-col :span="6"><div class="grid-content bg-purple">
                    <div class="icon">
                        <i class="el-icon-s-data" style="height: 50px;width: 50px"></i>
                    </div>
                    <h2>0</h2>
                    <h3>项目数</h3>
                    <p>代码发布数</p>
                </div></el-col>
            </el-row>
            <div class="order-panel">
                <div class="order-title">
                    <h2>工单统计
                        <small>Orders summary</small>
                    </h2>

                </div>
                <el-divider></el-divider>
                <div id="box" style="width: 70%;height: 280px;"></div>
            </div>
        {% endblock %}
        <el-table :data="tableData">
            <el-table-column prop="date" label="日期" width="140">
            </el-table-column>
            <el-table-column prop="name" label="姓名" width="120">
            </el-table-column>
            <el-table-column prop="address" label="地址">
            </el-table-column>
        </el-table>
    </el-main>
    <el-footer>Footer</el-footer>
   </el-container>
   </el-container>
</div>

<script>
    var Main = {
        data() {
            const item = {
                date: '2016-05-02',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1518 弄'
            };
            return {
                tableData: Array(20).fill(item)
            }
        }
    };
    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')

    // 初始化echarts
    var myChart=echarts.init(document.getElementById("box"));
    //指定图表的配置项和数据
    var option={
        //标题
        //title:{
        //  text:'工单统计'
        //},
        //工具箱
        //保存图片
        //toolbox:{
        //    show:true,
        //    feature:{
        //        saveAsImage:{
        //            show:true
        //        }
        //    }
       // },
        //图例-每一条数据的名字叫销量
        legend:{
            data:['销量']
        },
        //x轴
        xAxis:{
            data:["苹果","橘子","橙子","香蕉","菠萝","榴莲"]
        },
        //y轴没有显式设置，根据值自动生成y轴
        yAxis:{},
        //数据-data是最终要显示的数据
        series:[{
            name:'销量',
            type:'line',
            data:[40,20,35,60,55,10]
        }]
    };
    //使用刚刚指定的配置项和数据项显示图表
    myChart.setOption(option);
</script>
{#<script src="{% static "js/honor.js" %}"></script>#}
</body>
</html>